.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin-left: -30px;
  padding-top: 100px;
}
.list__item {
  position: relative;
  text-align: center;
  width: 20%;
  margin-left: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 30px;
  padding: 10px;
}
.list__item:not(:last-child) {
  flex-grow: 1;
}
.list__item time {
  position: absolute;
  display: block;
  text-align: left;
  right: 15px;
  bottom: 2px;
  color: $grey;
}
.film__form {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.film__select {
  padding: 15px 95px;
  border: none;
  background-color: $light-grey;
  margin-right: 10px;

}
.film__button {
  border: none;
  padding: 10px 35px;
  color: $white;
  background-color: $orange;
  border-radius: 5px;
}
.film__heading {
  height: 100px;
  color: $orange;
  font-weight: 700;

}
.film__text {
  margin-top: 20px;
  font-weight: 600;
}
.film__genre {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  list-style: none;
  text-align: left;
  margin-bottom: 20px;
}
.film__genre li {
  color: lightsalmon;
  background-color: rgba(255, 160, 122, 0.212);
  margin-left: 5px;
  font-weight: 600;

}
